# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/web/node_modules
/web/.pnp
/web/.pnp.js

/cms/node_modules
/cms/.pnp
/cms/.pnp.js

/api/node_modules
/api/.pnp
/api/.pnp.js

# testing
/web/coverage
/cms/coverage
/api/coverage

# next.js
/web/.next/
/web/out/


# production
/web/build
/cms/build
/api/build

# misc
/web/.DS_Store
/web/*.pem

/cms/.DS_Store
/cms/*.pem

/api/.DS_Store
/api/*.pem

# debug
/api/npm-debug.log*
/api/yarn-debug.log*
/api/yarn-error.log*
/api/.pnpm-debug.log*

/cms/npm-debug.log*
/cms/yarn-debug.log*
/cms/yarn-error.log*
/cms/.pnpm-debug.log*

/web/npm-debug.log*
/web/yarn-debug.log*
/web/yarn-error.log*
/web/.pnpm-debug.log*


# local env files
/api/.env.local
/api/.env.development.local
/api/.env.test.local
/api/.env.production.local

/cms/.env.local
/cms/.env.development.local
/cms/.env.test.local
/cms/.env.production.local

/web/.env.local
/web/.env.development.local
/web/.env.test.local
/web/.env.production.local



# vercel
/api/.vercel

/web/.vercel

/cms/.vercel